body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

tr {
  border-bottom: solid 1px;
  border-color: rgb(239,240,237);
  display: flex;
  justify-content: space-between;
}

thead {
  background: rgb(239,240,237);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

body {
  font-size: 14px;
}

td,th {
  padding: 12px;
}

tbody {
  height: calc(100vh - 40px);
  overflow: auto;
}

.params tr:hover {
  background: rgb(240,246,251);
}

tr.relation {
  background-color: rgb(239,240,237);
}

input {
  border-radius: 3px;
  border: none;
  width: 70px;
}tr.relation {
  background-color: rgb(239,240,237);
}

tr, thead {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 40px 40px;
}

thead {
  text-align: left;
  white-space: nowrap;
}

td.relation_value {
  padding: 4px;
}

input {
  padding: 8px 4px;
  width: 70px;
}

input {
  text-align: center;
}


td.relation_value {
  padding: 12px;
}

input {
  padding: 8px 4px;
  width: 70px;
}

input {
  text-align: center;
}

td.relation_value span {
  padding: 8px 4px;
  margin: 8px 4px;
}

span {
  margin: auto;
}

td.relation_value {
  padding: 12px;
}

input {
  padding: 8px 4px;
  width: 70px;
}

input {
  text-align: center;
}

td.relation_value span {
  padding: 8px 4px;
  margin: 8px 4px;
}

td.relation_name {
  text-align: center;
}

th.th_value {
  text-align: center;
}

.relation_icon {
  color: #a9a6a6;
}

thead {
  color: #898989;
}